body{
    margin: 0%;
}
nav{
    align-items: center;
    background-color: #fe7a35;
    display: flex;
    height: 60px;
    justify-content: space-evenly;

}
nav a{
    color: #093c7d;
    font-size: 18pt;
    text-decoration: none;
    font-family: 'VT323';
}
header{
    background-image: url("images/Kages.jpg");
    background-size: cover;
    height: 400px;

}
section{
    background-color: #b0946b;
    display: flex;
    justify-content: space-around;
    font-family: 'VT323';
    
}
div{
    width: 60%;
}
#div1{
    display: flex;
}
div ul{
    list-style-image: url('images/ninja.png');

}
footer div{
 justify-content: center;
 align-items: center;
 justify-content: space-around;
  
}
#div2{
    display: block;
    display: flex;
    align-content:flex-start;
    justify-content: space-evenly;
    justify-items: right;
}